main {
  width: fit-content;
  margin: 30vh auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

main h1 {
  font-size: 3.5rem;
}

#counter {
  font-size: 6rem;
  font-weight: 900;
}

.btn {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 0.5rem;
  border: solid 3px #000;
  border-radius: 10px;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  outline: 0;
}

.btn:hover {
  background-color: grey;
  color:rgba(255, 255, 255, .7);
  cursor: pointer;
}

.btn:active {
  background-color: #000;
  color: #fff;
}